<?xml version="1.0" encoding="utf-8" ?>
<configuration >
	<appSettings file="App.secrets.config">
		<add key="sp_ClientId" value="your email addr"/>
		<add key="sp_ClientSecret" value="the api key/secret"/>
		<add key="sp_BaseAddress" value="https://api.streetperfect.com"/>
	</appSettings>
</configuration>